<template>
  <div>
    <h1 style="text-align: center">Dashboard</h1>
  </div>
</template>

<script>
// // @ is an alias to /src
// // import HelloWorld from '@/components/HelloWorld.vue'
//
// export default {
//   name: 'dashboard'
//   // components: {
//   //   HelloWorld
//   // }
// }
</script>
