<template>
  <div>
    <form @submit.prevent="registration">
      <label for="first_name">
        First Name:
      </label>
      <input v-model="first_name" type="text" name="first_name" value placeholder="Enter first name">

      <label for="first_name">
        Last Name:
      </label>
      <input v-model="last_name" type="text" name="last_name" value placeholder="Enter last name">

      <label for="email">
        Email:
      </label>
      <input v-model="email" type="text" name="email" value placeholder="Enter Email">

      <label for="course">
        Course:
      </label>
      <input v-model="course" type="course" name="course" placeholder="Enter your course" value>

      <label for="Batch">
        Batch:
      </label>
      <input v-model="batch" type="batch" name="batch" placeholder="Enter your batch eg 2017" value>

      <label for="semester">
        Semester:
      </label>
      <input v-model="semester" type="semester" name="semester" placeholder="Enter your Sem" value>

      <label for="country">
        Country:
      </label>
      <input v-model="country" type="country" name="country" placeholder="Enter your country name" value>

      <label for="phone">
        Phone No:
      </label>
      <input v-model="phone" type="phone" name="phone" placeholder="Enter your contact number" value>

      <label for="roll_number">
        Roll No:
      </label>
      <input v-model="roll_number" type="roll_number" name="roll_number" placeholder="Enter your roll number" value>

      <button type="submit" name="button">
        Register
      </button>
      <ul>
        <li v-for="(error, index) in errors" :key="index"> {{error}} </li>
      </ul>
    </form>
  </div>
</template>

<script>
export default {
  data(){
    return {
      first_name: '',
      last_name: '',
      email: '',
      course: '',
      batch: '',
      semester: '',
      country: '',
      phone: '',
      roll_number: '',
      errors: null
    }
  },
  methods: {
    registration(){
      this.$store.dispatch('registration', {
        first_name: this.first_name,
        last_name: this.last_name,
        email: this.email,
        course: this.course,
        batch: this.batch,
        semester: this.semester,
        country: this.country,
        phone: this.phone,
        roll_number: this.roll_number
      })
      .then(() =>{
        // this.$router.push({name: 'home'})
        alert('Details have been recorded')
        
      })
      .catch(err =>{
        this.errors = err.response.data.errors
      })
    }
  }
}
</script>

<style lang="css" scoped>
</style>
