<template>
  <div class="user">
      <div v-if="loading" class="loading">
        Loading...
      </div>
      <div v-if="error"class="error">
        {{error}}
      </div>
      <h3>{{user.first_name}}</h3>
        <div v-if="user" class="data">
          <form>
          <label for="first_name">
            First Name:
          </label>
          <input v-model="user.first_name" type="text" name="first_name" value placeholder="Enter first name">

          <label for="first_name">
            Last Name:
          </label>
          <input v-model="user.last_name" type="text" name="last_name" value placeholder="Enter last name">

          <label for="username">
            User Name:
          </label>
          <input v-model="user.username" type="text" name="username" value placeholder="Enter username">

          <label for="email">
            Email:
          </label>
          <input v-model="user.email" type="email" name="email" placeholder="Enter email" value>

          <label for="password">
            Password:
          </label>
          <input v-model="user.password" type="password" name value>
          <label for="password_confirmation">
            Password Confirmation:
          </label>
          <input v-model="user.password_confirmation" type="password" name value>

          <button type="submit" name="button">
            Update
          </button>
          <ul>
            <li v-for="(error, index) in error" :key="index"> {{error}} </li>
          </ul>
      </form>
    </div>
  </div>
</template>

<script>
// import axios from 'axios'
import { mapState } from 'vuex'
export default {
  data(){
    return {
      error: null,
      loading: false
    }
  },
  created(){
    this.$store.dispatch('fetchData')
  },
  computed: mapState(['user'])
}
</script>

<style lang="css" scoped>
</style>
