<template>
  <div>
    <form >
      <label for="first_name">
        First Name:
      </label>
      <input type="text" name="first_name" value>{{students.first_name}}</input>

      <label for="last_name">
        Last Name:
      </label>
      <input type="text" name="last_name" value>
      {{students.last_name}}</input>

      <label for="username">
        User Name:
      </label>
      <input type="text" name="username" value>
      {{students.username}}</input>

      <label for="email">
        Email:
      </label>
      <input type="email" name="email" value>{{students.email}}</input>
      <ul>
        <li v-for="(error, index) in errors" :key="index"> {{error}} </li>
      </ul>
      <!-- <ul>
        <li v-for="(error, index) in errors" :key="index"> {{error}} </li>
      </ul> -->
    </form>
  </div>
</template>

<script>
export default {
  data(){
    return {
    students: {},
    loading: true,
    errors: false
    }
  },
  methods: {
    studentpro(){
      this.$store.dispatch('studentpro', {
        // first_name: this.first_name,
        // last_name: this.last_name,
        // username: this.username,
        // email: this.email,
        // password: this.password,
        // password_confirmation: this.password_confirmation

      })
      .then( response =>{
        this.students = response.data
      })
      .catch(err =>{
        this.errors = err.response.data.errors
      })
    }
  }
}
</script>

<style lang="css" scoped>
</style>
