<template>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark ">
    <div class="container-fluid">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
          <div class="collapse navbar-collapse " id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item"><router-link to="/" class="nav-link" style="color:white; float:left;" >Home</router-link></li>
              <li class="nav-item"><router-link :to="{ name: '', params: {} }" class="nav-link" style="color:white;">Academics</router-link></li>
              <li class="nav-item"><router-link :to="{ name: '', params: {} }" class="nav-link" style="color:white;">Admission</router-link></li>
              <li class="nav-item"><router-link :to="{ name: '', params: {} }" class="nav-link" style="color:white;">Course</router-link></li>
              <li class="nav-item"><router-link :to="{ name: '', params: {} }" class="nav-link" style="color:white;"> Placement Cell</router-link></li>
              <li class="nav-item"><router-link :to="{ name: '', params: {} }" class="nav-link" style="color:white;">Campus Life</router-link></li> &nbsp
            <!-- <router-link to="/register" class="nav-link" style="color:white;" v-if="!loggedIn">Sign Up</router-link>
            <router-link to="/login" class="nav-link" style="color:white;" v-if="!loggedIn">Sign In</router-link> -->
            <!-- <router-link class="nav-link" v-if="loggedIn" to="/dashboard">Dashboard</router-link> -->
            <!-- <button  class="nav-link logoutButton" v-else type="button" @click="logout">Logout</button> -->
          </ul>
            <ul class="nav navbar-nav navbar-right" v-if="loggedIn">
              <li class="nav-item">
                <div class="mr-2 dropdown cursor-pointer">
                  <div class="dropdown-toggle d-inline-flex align-items-center" aria-hidden="true" id="navbarDropdown" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:white">Account Settings
                    <!-- <p class="ml-2 mb-0">
                      {{$store.state.user.first_name}} {{$store.state.user.last_name}}
                    </p> -->
                  </div>
                  <!-- <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#"></a>
                  </li> -->
                    <!-- <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                      Account <b class="caret"></b>
                    </a> -->
                      <div class="dropdown-menu" aria-labelledby="user-dropdown">
                        <a class="dropdown-item" @click="logout">Logout</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/student/:id">Profile</a>
                      </div>
                        <!-- <router-link class="nav-link" v-if="loggedIn" to="/dashboard">Dashboard</router-link> -->
                        <!-- <button  class="nav-link logoutButton" v-else type="button" @click="logout">Logout</button> -->
              </div>
            </li>
          <!-- </div> -->
          </ul>
          <ul class="nav navbar-nav navbar-right" v-else>
            <li class="nav-item" v-show="$router.currentRoute.name "!loggedIn"">
              <router-link class="nav-link" :to="{name: 'register'}">Sign Up</router-link>
            </li>
            <li class="nav-item" v-show="$router.currentRoute.name "!loggedIn"">
              <router-link class="nav-link" :to="{name: 'login'}">Log In</router-link>
              </li>
          </ul>

      </div>
    </div>
  </nav>
</template>

<!-- <template>
  <div id="nav">
    <router-link to="/">
      Home
    </router-link>
    <router-link to="/dashboard">
      Dashboard
    </router-link>
    <router-link v-if="!loggedIn" to="/login" class="button">
      Login
    </router-link>
  </div>
</template> -->

<script>
import { authComputed } from '../views/vuex/helpers.js'
export default {
  computed: {
    ...authComputed
  },
  methods: {
    logout(){
      this.$store.dispatch('logout')
    }
  }
}
</script>

<style lang="scss" scoped>
// #nav {
//   display: flex;
//   align-items: center;
//   min-height: 50px;
//   padding: 0.2em 1em;
//   background: linear-gradient(to right, #16c0b0, #84cf6a);
// }
//
// .nav-welcome {
//   margin-left: auto;
//   margin-right: 1rem;
//   color: white;
// }
//
// a {
//   font-weight: bold;
//   color: #2c3e50;
//   margin: auto 0.8em auto 0.4em;
//   text-decoration: none;
//   border-top: 2px solid transparent;
//   border-bottom: 2px solid transparent;
// }
//
// .router-link-exact-active {
//   color: white;
//   border-bottom: 2px solid #fff;
// }
//
// button,
// .button {
//   margin-left: auto;
//   background: white;
//   text-decoration: none;
//   color: #2c3e50;
//
//   &.router-link-active {
//     color: #2c3e50;
//   }
// }
//
// .logoutButton {
//   cursor: pointer;
// }
//
// .nav-welcome + button {
//   margin-left: 0;
// }
</style>
