@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

html,
body {
  height: 100%;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  color: #222;
}

.navbar {
  padding: .4rem;
}

.navbar-nav li {
  padding-right: 20px;
}

.nav-link {
  font-size: 1em !important;
}

.is-hovered:hover {
  color: #B02C96 !important;
}

.carousel-inner img {
  width: 100%;
  height: 100%;
}

.carousel-caption {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.carousel-caption h1 {
  font-size: 500%;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 1px 1px 15px #000;
}

.carousel-caption h2 {
  font-size: 300%;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 1px 1px 15px #000;
}

.carousel-caption h3 {
  font-size: 130%;
  font-weight: 500;
  text-shadow: 1px 1px 10px #000;
}

.carousel-cap3 {
  font-size: 200%;
  font-weight: 500;
  text-shadow: 1px 1px 10px #000;
}

img.blur {
  filter: blur(5px);
}

.btn-primary {
  background-color: #7F7FFF;
  border: 1px solid #B5B5C7;
}

.btn-primary:hover {
  background-color: #A6A4C4;
  border: 1px solid #7F7FFF;
}

.Jumbotron {
  padding: 1rem;
  border-radius: 0;
}

.padding {
  padding-bottom: 0.3rem;
}

.social a {
  font-size: 2.5em;
  padding: 1rem;
}

.fa-facebook {
  color: #3b5998;
}

.fa-twitter {
  color: #00aced;
}

.fa-instagram {
  color: #517fa4;
}

.fa-linkedin {
  color: #0077B5;
}

.fa-facebook:hover,
.fa-twitter:hover,
.fa-instagram:hover,
.fa-linkedin:hover {
  color: #d5d5d5;
}

footer {
  background-color: #3b5998;
  color: white;
  padding-top: 0.2rem;
}

hr.light {
  border-top: 2px solid #B02C96;
  width: 95%;
  margin-top: .1rem;
  margin-bottom: 1rem;
}

footer a {
  color: white;
}

hr.light-100 {
  border-top: 2px solid #B02C96;
  width: 100%;
  margin-top: .3rem;
  margin-bottom: 1rem;
}

.my-3 {
  color: #6841f4;
  border-top: 2px solid #B02C96;
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}



/*---Media Queries --*/
@media (max-width: 992px) {}

@media (max-width: 768px) {}

@media (max-width: 576px) {}


/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}

/*--- Fixed Background Image --*/
figure {
  position: relative;
  width: 100%;
  height: 60%;
  margin: 0 !important;
}

.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
  padding: 1rem;
}

.checkbox {
  &.checkbox-container {
    position: relative;
    user-select: none;
    cursor: pointer;

    input {
      position: absolute;
      opacity: 0;
      height: 0;
      width: 0;
    }

    input:checked~.checkmark {
      background-color: #6CB2EB;
      border: 2px solid #6CB2EB;
    }

    input:checked~.checkmark:after {
      display: block;
    }

    .checkmark:after {
      left: 5px;
      top: 1px;
      width: 5px;
      height: 10px;
      border: solid #fff;
      border-width: 0 3px 3px 0;
      transform: rotate(45deg);
    }
  }

  .checkmark {
    position: absolute;
    left: 0;
    top: 4px;
    height: 18px;
    width: 18px;
    border: 2px solid #b8c2cc;
    border-radius: 5px;
    transition: background-color 1s cubic-bezier(.165, .84, .44, 1);

    &:after {
      content: "";
      position: absolute;
      display: none;
    }
  }
}


/**text center padding and margin */

// .text-center {
//   padding-bottom: 15px;
//   margin-bottom: 10px;
// }

/** Hero banner image */

.container-b {
    padding-top: 35px;
    padding-bottom: 35px;
    margin-right: auto;
    margin-left: 20px;
    padding: 80px 15px;
    padding-top: 80px;
    padding-right: 15px;
    padding-bottom: 80px;
    padding-left: 15px;
}

/** Hero banner text */
.hero-tex {
  position: absolute;
  left: 20px;
  top: 20px;
  color: white;
  padding-left: 20px;
}

.container {
    max-width:100%;
    width: 100%;
}

/** Go to top button */
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 75;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: rgba(85, 85, 85, 25%);
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: rgba(85, 85, 85, 30%);
}

.black {
  background-color: rgb(81, 127, 164);
  color: #FFF;
  height: 100%;
  width: 100%;
}

.tracking-in-expand {
  animation: tracking-in-expand 1.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

.card-title {
  text-align: center;
}
.card-header-signup {
  padding: 0.9rem 3.25rem;
  margin-bottom: 0;
  color: inherit;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
/**
 * ----------------------------------------
 * animation tracking-in-expand
 * ----------------------------------------
 */
@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }

  40% {
    opacity: 0.6;
  }

  100% {
    opacity: 1;
  }
}

@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }

  40% {
    opacity: 0.6;
  }

  100% {
    opacity: 1;
  }
}

.shadow-drop-2-center {
  -webkit-animation: shadow-drop-2-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: shadow-drop-2-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes shadow-drop-2-center {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }

  100% {
    -webkit-transform: translateZ(50px);
    transform: translateZ(50px);
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
  }

}

@keyframes shadow-drop-2-center {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }

  100% {
    -webkit-transform: translateZ(50px);
    transform: translateZ(50px);
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
  }
}

.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
  transform: scale(1.1);
}


/** BG image for P */

.hero-section {
  height: 450px;
  position: relative;
}

  h3 {
    font-weight: 900;
    font-size: 2rem;
    text-align: center;
    color: grey;
  }

    p {
      font-size: .8rem;
      font-weight: bold;
    }

    .footer-p {
        margin-top: 0;
        margin-bottom: 1rem;
    }
    button {
      font-size: .9rem;
    }

    .is-line {
      display: inline-block;
      width: 20px;
      border-bottom: 1px solid black;
    }

footer {
  margin-top: 1rem;
}

.is-dashed {
  width: 200px;
  border-bottom: 1px solid #b8c2cc;
  line-height: 0.1em;
  margin-left: 30%;

  span {
    z-index: 10;
    background: #ffffff;
    padding: 0 15px;
  }
}

.rounded {
  border-radius: .25rem;
}

.form-content {
  h3 {}
}


.welcome {
  padding-top: 2rem;
}

.welcome hr {
  border-top: 2px solid #B02C96;
  width: 95%;
  margin-top: .3rem;
  margin-bottom: 1rem;
}

@media (min-width: 576px) {
  .display-4 {
    font-size: 1rem !important;
  }


}

@media (min-width: 768px) {
  .display-4 {
    font-size: 2rem !important;
  }

  .welcome {
    width: 100%;
    margin: 0 auto;
  }

}

@media (min-width: 992px) {
  .display-4 {
    font-size: 3rem !important;
  }
}

@media (min-width: 1200px) {
  .display-4 {
    font-size: 4rem !important;
  }
}

input[type="file"].is-custom {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.file-label {
  &:hover {
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075);
  }
}

.cursor-pointer {
  cursor: pointer;
}

.shadow-sm {
  box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075) !important;
}

.shadow {
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
}

.slide-fade-enter-active,
.slide-fade-leave-active {
  transition: opacity .1s, transform .2s;
}

.slide-fade-enter,
.slide-fade-leave-active {
  opacity: 0;
  transform: translateX(20px);
}

/** Navigation color **/
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-size: 100%, 100%;
  background-image: none;
}
.carousel-control-next-icon:after
{
  content: '>';
  font-size: 60px;
  color: #ff0000;
}
.carousel-control-prev-icon:after {
  content: '<';
  font-size: 60px;
  color: #ff0000;
}

/*Policy */
.view-pages .diva {
    margin: 0;
    padding: 20px 0;
    background: #3c3c3c;
    color: #FFF;
    padding-right: 20px;
    margin-right: 20px;
  }
  .diva {
      margin: 0;
      padding: 40px 0;
      background: #3c3c3c;
      color: #FFF;
      padding-right: 20px;
      margin-right: 20px;
    }

    /*footer later part color */
    .footer-policy{
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    background-color: #258be3;
}

.opacity-info-box {
    padding: 8%;
        padding-top: 8%;
        padding-right: 8%;
        padding-bottom: 8%;
        padding-left: 8%;
    background-color: hsla(0,0%,100%,.8);
    border-radius: 5px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
}
.col-lg-6 {
    width: 100%;
    background-size: cover;
}
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5,  .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
}
.col-md-7 {
    width: 58.33333%;
}

.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
}
.col-sm-9 {
    width: 75%;
}
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
}

.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}
*, ::after, ::before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.mb-xs-20 {
    margin-bottom: 20px !important;
}
.text-sm-left {
    text-align: left;
}
.text-xs-center {
    text-align: center;
}

/* float */
.element {
  @include float-left;
}
.another-element {
  @include float-right;
}
.one-more {
  @include float-none;
}

.fleft {
  float: left;
  background: rgb(4,48,84);
}

.fright {
  float: right;
  background: rgb(4,48,84);
}
